.sidebarChat {
  display: flex;
  padding: 15px;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover {
  background-color: #e6e6e6;
}

.sidebarChat__info {
  margin-left: 15px;
}

.sidebarChat__info > h2 {
  font-size: 16px;
}
